@charset "utf-8";
/* CSS Document */

@use 'sass:list';
@use 'sass:math';

/* public */

$phi-bg-black: #23292ecc;
$phi-bg-black-trans: #23292e66;
$phi-text-white: #ffffffee;
$phi-box-shadow: 5px 5px 5px #0004;
$luotianyi: #66ccff;
$luotianyi-highlight: #99ffff;
$skew: skew(math.atan(math.div(1, 3)));
$skew-n: skew(math.atan(math.div(-1, 3)));

@mixin backdrop-filter($filters...) {
  -webkit-backdrop-filter: $filters;
  backdrop-filter: $filters;
}

@mixin transform($funcs...) {
  -webkit-transform: $funcs;
  -moz-transform: $funcs;
  -o-transform: $funcs;
  transform: $funcs;
}

@mixin box-shadow($shadows...) {
  $shadows: if(list.length($shadows) == 0, $phi-box-shadow, $shadows);
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  box-shadow: $shadows;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: thin;
  font-family: 'ZCOOL KuaiLe', 'HarmonyOS Sans SC', 'Unifont', 'Arial', system-ui, sans-serif, 'JetBrains Mono', monospace, serif;
  font-size: 16px;
  line-height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $luotianyi;
  background: {
    image: linear-gradient(to right, $luotianyi, $luotianyi-highlight);
    repeat: no-repeat;
    size: 0 1px;
    position: right bottom;
  }
  transition: background-size 167ms linear;
  &:hover {
    color: $luotianyi-highlight;
    background-size: 100% 1px;
    background-position-x: left;
  }
}

code {
  font-family: 'JetBrainsMono', 'Courier New', Courier, monospace;
}

/* nav */

nav#home-nav-container {
  position: absolute;
  overflow: hidden;
  height: 60px;
  width: 100%;
  z-index: 1;
  img[alt="logo"] {
    @include transform(scale(.9));
    filter: invert(1);
    width: 48px;
    height: 48px;
    margin-right: 0;
  }
  > #home-nav-left {
    left: 0;
  }
  > #home-nav-right {
    right: 0;
  }
  > * {
    height: 48px;
    line-height: 100%;
    color: $phi-text-white;
    display: flex;
    align-items: center;
    margin: 0;
    position: absolute;
    &::after {
      content: "";
      background-color: $phi-bg-black;
      @include backdrop-filter(blur(1px));
      position: absolute;
      width: 100%;
      height: 100%;
      @include box-shadow;
      padding: 0 8px;
      @include transform(translateX(-8px) $skew-n);
      z-index: -1;
    }
    > * {
      margin: 0 8px;
      white-space: nowrap;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    background-size: 0 2px;
    padding: 16px 0 16px 0;
    &:hover {
      color: $luotianyi;
      background-size: 100% 2px;
    }
  }
  @media (max-width: 486px) {
    h1 {
      display: none;
    }
  }
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 24px;
  font-size: 14px;
  padding: 4px;
  background-color: $phi-bg-black-trans;
  @include backdrop-filter(blur(1px));
  color: $phi-text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & > a {
    color: inherit;
    &:hover {
      color: $luotianyi;
    }
  }
  & > * {
    white-space: nowrap;
    &::after {
      content: "|";
      margin: 0 4px;
    }
    &:last-child::after {
      content: "";
      margin: 0;
    }
  }
}

/* home show */

#home-full-show-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $phi-bg-black-trans;
}

.page-shower {
  position: absolute;
  width: 100%;
  height: 100%;
  > * {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: {
      property: height, transform;
      duration: 500ms;
      timing-function: linear;
    }
    overflow: hidden;
    background-color: $phi-bg-black-trans;
    > * {
      position: absolute;
      width: 100vw;
      height: 100vh; // fallback
      height: 100dvh;
    }
    > img {
      object-fit: cover;
    }
  }
}

.page-shower-hide {
  display: none;
}

.page-shower-next {
  @include transform(translateY(60px));
  z-index: 0;
}

.page-shower-last {
  height: 60px;
  @include transform(translateY(-60px));
  z-index: 2;
}

.page-shower-content {
  text-align: center;
  color: $phi-text-white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  line-height: 100%;
  text-shadow: $phi-box-shadow;
  * {
    line-height: 1.2;
    font-size: initial;
  }
}

.page-picker {
  position: absolute;
  right: 48px;
  width: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  @media (max-width: 640px) {
    right: 32px;
  }
  @media (max-width: 360px) {
    right: 24px;
  }
  > * {
    width: 8px;
    height: 8px;
    margin: 8px;
    background-color: $phi-text-white;
    @include transform($skew-n);
    @include box-shadow;
    transition: transform 500ms linear;
  }
  &-this {
    @include transform($skew-n scale(1.2));
  }
}

/* Home page Intoduction  */

#main-intro {
  max-width: 360px;
  width: calc(100% - 40px);
  height: 120px;
  display: flex;
  text-align: initial;
  z-index: 1;
  > img {
    filter: invert(1);
    margin-left: 16px;
  }
  > p {
    margin-right: 16px;
    overflow: auto;
  }
  &::after {
    content: '';
    max-width: inherit;
    width: inherit;
    height: inherit;
    background-color: $phi-bg-black;
    @include box-shadow;
    @include backdrop-filter(blur(1px));
    @include transform($skew-n);
    position: absolute;
    z-index: -1;
  }
}
