@charset "utf-8";
/* CSS Document */

/* public */

:root {
    /* here are main color variables */
    --phi-bg-black: #23292ecc;
    --phi-bg-black-trans: #23292e66;
    --phi-text-white: #ffffffee;
    --phi-box-shadow: 5px 5px 5px #0004;
    --luotianyi: #66ccff;
    --luotianyi-highlight: #99ffff;
    --skew: skew(18.43494882292201deg); /* tan-1(1/3) */
    --skew-n: skew(-18.43494882292201deg);
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-family: 'ZCOOL KuaiLe', 'HarmonyOS Sans SC', 'Unifont', 'JetBrains Mono', monospace, sans-serif, serif;
    font-size: 16px;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: var(--luotianyi);
}

a:hover {
    color: var(--luotianyi-highlight);
}

/* nav */

img[alt="logo"] {
    transform: scale(1.3);
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
    filter: invert(0.74);
    width: 48px;
    height: 48px;
}

nav#home-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 64px;
    z-index: 1;
}

#home-nav-container > * {
    height: 48px;
    line-height: 100%;
    color: var(--phi-text-white);
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
}

#home-nav-container > *::after {
    content: "";
    background-color: var(--phi-bg-black);
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: var(--phi-box-shadow);
    padding: 0 8px;
    transform: translateX(-8px) var(--skew-n);
}

#home-nav-container > * > * {
    margin: 0 8px;
    white-space: nowrap;
    z-index: 1;
}

#home-nav-container a {
    text-decoration: none;
    color: inherit;
}

#home-nav-container a:hover {
    color: var(--luotianyi);
}

@media (max-width: 360px) {
    #home-nav-container h1 {
        display: none;
    }
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 24px;
    font-size: 14px;
    padding: 4px;
    background-color: var(--phi-bg-black-trans);
    color: var(--phi-text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: var(--phi-box-shadow);
}

footer > a {
    color: inherit;
}

footer > a:hover {
    color: var(--luotianyi);
}

footer > * {
    white-space: nowrap;
}

footer > *::after {
    content: "|";
    margin: 0 4px;
}

footer > *:last-child::after {
    content: "";
    margin: 0;
}

/* home show */

#home-full-show-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--phi-bg-black-trans);
}

.page-shower {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-shower > * {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: height 400ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.page-shower > * > * {
    position: relative;
}

.page-shower > * > img {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
}

.page-shower-hide {
    display: none;
}

.page-shower-next {
    z-index: -2;
}

.page-shower-last {
    height: 0;
    z-index: 0;
}

.page-shower-content {
    text-align: center;
    color: var(--phi-text-white);
    padding: 64px 0;
}

.page-picker {
    position: absolute;
    right: 48px;
    width: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media (max-width: 640px) {
    .page-picker {
        right: 32px;
    }
}

@media (max-width: 360px) {
    .page-picker {
        right: 24px;
    }
}

.page-picker > * {
    width: 8px;
    height: 8px;
    margin: 8px;
    background-color: var(--phi-text-white);
    transform: var(--skew-n);
    box-shadow: var(--phi-box-shadow);
}
